<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net40" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="Microsoft.Advertising.JS" version="10.1705.16001" targetFramework="net47" />
  <package id="Microsoft.Advertising.XAML" version="10.1705.16001" targetFramework="net47" />
  <package id="Microsoft.Services.Store.Engagement" version="10.1610.0" targetFramework="net47" />
  <package id="Microsoft.Services.Store.SDK" version="10.1705.16001" targetFramework="net47" />
</packages>