<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net40" />
  <package id="FormatWith" version="2.2.1" targetFramework="net471" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
</packages>